<strong>Recuperando Senha</strong>
    <p>Sua solicitacao de recuoeracao de senha foi realizada para o E-mail ({{ email }}). Se voce nao foi o autor desta solicitacao, seria legal trocar sua senha !</p>

    <p>Para continuar com sua recuperacao, utilize o token {{ token }} ou clique no link a baixo.</p>

<a href="{{ link }}">Criar nova senha</a>
